<div class="bk-img">
  <div class="text-white">
    <div class="container cta">
      <div class="site-information">
        <h1 class="home-page-text p-4" >No longer will the smoke alarm be used to cook!</h1>


  <div class="btn btn-homepage" id="home-btn"> <%= link_to "Time to cook!", timers_path %> </div>
      </div>
    </div>


<div class="cards">
  <div class="card-category" style="" id="opacity-d-timers">
    <h2 class="home-cards-text"> Quick access to timers</h2>
    <p>We have provided pre-set timers for commonly cooked dishes, allowing users to easily select and start timers for popular recipes without manually inputting time settings.</p>


  </div>

  <div class="card-category" style="" id="opacity-my-timers">
    <h2 class="home-cards-text"> The ability to make your own timers</h2>
    <p>My timers allow users to customize and save their own timers for specific dishes or cooking techniques, providing a personalized collection of timers that can be easily accessed and reused.</p>
  </div>

  <div class="card-category" style="" id="opacity-recipes">
    <h2 class="home-cards-text"> Browse suggested recipes</h2>
    <p>The recipes page offers a vast selection of culinary creations, guiding users through step-by-step instructions and providing corresponding timers for each recipe. This feature ensures that users can follow recipes seamlessly and achieve optimal results by syncing timers with specific cooking steps.</p>
  </div>
</div>

  </div>
</div>




<%#
<div class="timer-group">
  <div class="timer hour">
    <div class="hand"><span></span></div>
    <div class="hand"><span></span></div>
  </div>
  <div class="timer minute">
    <div class="hand"><span></span></div>
    <div class="hand"><span></span></div>
  </div>
  <div class="timer second">
    <div class="hand"><span></span></div>
    <div class="hand"><span></span></div>
  </div>
  <div class="face">
    <h2>A timer</h2>
    <p id="lazy">00:00:00</p>
  </div>
</div> %>
