

<div class="text-white">
<div class="container">
<h1>Hello MasterChef , welcome to your TimeToCook app!</h1>
<<<<<<< HEAD
<%# <div class="pomodoro">
  <div class="row">
    <div class="col-md-6">
      <div class="row"><p>session length<p></div>
      <div class="row counter">
        <div class="col-md-4">
          <button class="btn btn-default" id="sessDec">-</button>
        </div>
        <div class="col-md-2">
          <div id="session"></div>
        </div>
        <div class="col-md-4">
          <button class="btn btn-default" id="sessInc">+</button>
        </div>
      </div>
=======

 <div class="controls">
      <input type="text" id="inputHours" placeholder="HH" maxlength="2">
      <input type="text" id="inputMinutes" placeholder="MM" maxlength="2">
      <input type="text" id="inputSeconds" placeholder="SS" maxlength="2">
      <button class="btn" onclick="setTimer()">Set Timer</button>
      <button class="btn" onclick="startTimer()">Start</button>
      <button class="btn" onclick="pauseTimer()">Pause</button>
      <button class="btn" onclick="resetTimer()">Reset</button>
>>>>>>> ce1f815d0f89f6f53c6612eceebfcc08e42aab41
    </div>

    <div class="col-md-6">
      <div class="row"><p>break length<p></div>
      <div class="row counter">
        <div class="col-md-4">
          <button class="btn btn-default" id="breakDec">-</button>
        </div>
        <div class="col-md-2">
          <div id="break"></div>
        </div>
        <div class="col-md-4">
          <button class="btn btn-default" id="breakInc">+</button>
        </div>
      </div>
    </div>
  </div> %>

  <div id="clock" class="row">
    <div class="timer"><div class="middle"></div></div>
  </div>
  <div class="row" id="statRow">
    <div id="stats"></div>
  </div>
  <div class="container">
    <div class="row" id="btns">
      <button class="btn btn-default btn-lg" id="start">start</button>
      <button class="btn btn-default btn-lg" id="stop">stop</button>
      <button class="btn btn-default btn-lg" id="clear">clear</button>
    </div>
  </div>

</div>
  </div>
</div>
