
<div class="text-white">
<div class="container">
<h1>Hello MasterChef , welcome to your TimeToCook app!</h1>

 <div class="controls">
      <input type="text" id="inputHours" placeholder="HH" maxlength="2">
      <input type="text" id="inputMinutes" placeholder="MM" maxlength="2">
      <input type="text" id="inputSeconds" placeholder="SS" maxlength="2">
      <button class="btn" onclick="setTimer()">Set Timer</button>
      <button class="btn" onclick="startTimer()">Start</button>
      <button class="btn" onclick="pauseTimer()">Pause</button>
      <button class="btn" onclick="resetTimer()">Reset</button>
    </div>
  <%# </div> %>
<%# Timer logic %>
  </div>
</div>

<div class="site-information">
<h2> Welcome to Time To Cook! </h2>
<p>At Time To Cook, we bring the art of cooking to your fingertips with our versatile multiple timer app. Whether you're a professional chef or an enthusiastic home cook, our cooking-themed app is designed to streamline your culinary adventures and help you perfect your dishes with precision timing.</p>
</div>
