

.recipe-info h2{
  display: inline-block;
}

.recipe-info h2{
padding: 176px;
}

.recipe-info h1{
  justify-content: space-around;
}

.recipe-info p{
  display: flex;
  justify-content: space-around;
  padding: 10px;
  display: inline-block;
  color: antiquewhite !important;
}

.recipe-info strong {
  color: antiquewhite !important;
}
