

.recipe-bar{
  background-color: #454545;
  opacity: 75%;
  // padding: 5px;
  width: 300px;
  height: 130vh;
  padding-top: 25px;
}

.list-unstyled {
  margin-bottom: 15px;
  margin-top: 20px;
}

.recipe-name {
  border: solid;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-right: 50px;
}

input[type=submit] {
  background-color: #95984b;
  box-shadow: #fff;
  transform: translateZ(0);
  transition-duration: .3s;
  transition-property:transform;
  border-radius: 15px;
  width: 15em;  height: 3em
}

.recipe-link {
  border-style: none;
  font-size: 20px;
  color: antiquewhite;
  text-decoration: none;
}

.recipe-link:hover {
  color: rgb(64, 234, 160);
  box-shadow: #fff;
  transform: translateZ(0);
  transition-duration: .3s;
  transition-property:transform;
}


// .edit-delete{

//   border-color: black;
//   color:black;
//   padding-inline: 11px;
// }

// .recipe-delete:hover {

//   color:blue;
//   border-color: blue;

//   // background-color: red;
// }
// .edit-delete:hover {

//   color: blue;
//   border-color: blue;

//   // background-color: red;
// }
// .recipe-delete{
//   border-color: black;
//   color:black;
//   padding-inline: 11px;

// .recipes{
//   // margin-top: 25px;
// }

.recipe-index-text{
  width: 100%;
  margin-top: 100px;
  font-size: 45px;
}
