

.recipe-bar{
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 75%;
  // padding: 5px;
  width: 300px;
  height: 130vh;
  padding-top: 25px;
  overflow-y: scroll;
}

.list-unstyled {
  margin-bottom: 15px;
  margin-top: 20px;
}

.recipe-name {
  border: solid;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-right: 50px;
  transition: 0.5s;
  width: 85%;
  overflow: hidden;
  text-wrap: wrap;
  text-align: center;
}

.recipe-name:hover {
  text-shadow: #95984B;
  box-shadow: #95984B;

}


.add-btn {
  background: none;
  border: none;
}

.add-btn i {
color: #95984b;
}

.modal-content {
  background-color: #454545 !important ;
}





.recipe-bar-index{
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 75%;
  // padding: 5px;
  width: 300px;
  height: 130vh;
  padding-top: 25px;
  overflow-y: scroll;
}
.recipe-link {
  border-style: none;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.recipe-link:hover {
  color: #95984b;
  box-shadow: #fff;
  transform: translateZ(0);
  transition-duration: .3s;
  transition-property:transform;
}


// .edit-delete{

  //   border-color: black;
  //   color:black;
//   padding-inline: 11px;
// }

// .recipe-delete:hover {

  //   color:blue;
  //   border-color: blue;

//   // background-color: red;
// }
// .edit-delete:hover {

  //   color: blue;
  //   border-color: blue;

  //   // background-color: red;
  // }
// .recipe-delete{
//   border-color: black;
//   color:black;
//   padding-inline: 11px;

// .recipes{
//   // margin-top: 25px;
// }

.recipe-index-text{
  width: 100%;
  margin-top: 100px;
  font-size: 45px;
}

#container-recipes {
  display: inline-table;
  padding: 2px;
}

.narrow-form {
  max-width: 140px;
  margin: 0 auto;
}



input[type=submit] {
  background-color: #95984b;
  box-shadow: #fff;
  transform: translateZ(0);
  transition-duration: .3s;
  transition-property: transform;
  border-radius: 15px;
  width: 9em;
  height: 3em;
  color: white;
}

input[type=submit]:hover {
  color: #c0c0c0;;
  background-color: #87895d9f !important;
}

// .icons-timer {
//   padding: 3px;
// }
