h2.default{
  margin: 180px;
}
h2{
  display: inline-block;
}
h2.recipes{
padding: 176px;
}
h1{
  display: flex;
  justify-content: space-around;
}
.controls{
  text-align: center;
  margin: 180px;
}
img.setting{
  width:34px;
}
