h2.default{
  margin: 180px;
}
h2{
  display: inline-block;
}
h2.recipes{
padding: 176px;
}
h1{
  display: flex;
  justify-content: space-around;
}
.controls{
  text-align: center;
  margin: 180px;
}
img.setting{
  width:34px;
}

.site-information {
  background-color: #000000;
  // opacity: 75%;
  padding: 14px;
  // margin-top: 5%;
}

.site-information h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #ffffff;
}

.site-information p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
  color: #ffffff;
}


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  background-color: rgba(212, 212, 212, 0.678);
  width: 100%;
  height: 200px;
  // position: fixed;
  // bottom: 0px;
  // left: 0px;
  // height: 40vh;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  margin-top: 350px;
  .card-category {
    padding: 5px 10px;
    p {
      background: rgba($color: black, $alpha: 0.5);
      padding: 3px 5px;
      border-radius: 5px;
      font-size: 0.9rem;
    }
  }
  #opacity-my-timers {
    // background-color: white;
    // color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url('https://img.freepik.com/premium-photo/fresh-herbs-spices-peppers-dill-parsley-black-background-place-text-culinary-concept-background-menu-recipe_114106-2324.jpg');
    background-size: cover;
}
  #opacity-d-timers {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://images.pexels.com/photos/4082638/pexels-photo-4082638.jpeg');
    background-size: cover;
  }
  #opacity-recipes {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url('https://i.pinimg.com/originals/c1/14/c3/c114c345413eebe514d073473e96c756.jpg');
    background-size: cover;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


.btn-homepage {
  width: auto;
  height: auto;
  font-size: x-large;
  background-color: #6C6D4B;
  border-radius: 23Px;
  a {
    text-decoration: none;
    color: #ffffff;
  }
}

.btn-homepage:hover {
    color: #b4b4b4;;
    background-color: #87895d50 !important;
}
