// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
.container{
  margin: 20px auto;
  text-align: center;
  margin-left: 30px;
}

.bk-img{
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('background-cook.jpg');
  background-size: cover;
  background-position: center;
  margin: 0;
  // height: 90vh;
  color: antiquewhite;
}

body {
  background-size: cover;
  background-position: center;
  margin: 0;
  height: 90vh;
  color: antiquewhite;
  background-color: black;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(30, 30, 30) 35%, rgb(36, 36, 36) 100%);
}

.btn {
  color: antiquewhite;
}

a {
   color: black;
 }



 // body {
   //   padding: 25px;
   //   background-color: white;
   //   color: black;
  //   font-size: 25px;
  // }

  // .dark-mode {
    //   background-color: black;
    //   color: white;
    // }

    a {
      // border-style: solid;
      // border-radius: 300px;
      // border-color: aliceblue;
      color: aliceblue;
      padding: -0.5rem 1rem;
      text-decoration: none;
    }


    ul{
      list-style-type: none;
    }
    // .left-recipe-delete {
    //   border-color: black;
    //   color: black;
    //   padding-inline: 10px;
    // }

    // .left-edit-delete{
    //   border-color: black;
    //   color:black;
    //   padding-inline: 11px;
    // }

    // .left-recipe-delete:hover {

    //   color:blue;
    //   border-color: blue;

    //   // background-color: red;
    // }
    // .left-edit-delete:hover {

    //   color: blue;
    //   border-color: blue;

    //   // background-color: red;
    // }
    // .left-recipe-delete {
    //   border-color: black;
    //   color: black;
    //   padding-inline: 10px;
    // }
.btn.btn-primary{
  background-color: darkred;
}
.btn.btn-primary:hover{
  background-color: black;
}
